In [17]:
#import modules
import json
import pandas as pd
import schedule
import time

#import classes from ./ folder
import timescaledbAccess

#read fibonacci retracements  from json
with open('fibLvl.json') as file:
    fibLvl = json.load(file)

In [73]:
timescale = timescaledbAccess.timescaleAccess()
sql = ("SELECT id, symbol, takeprofit, stoploss, askprice" +
      " FROM table001 where takeprofit is not null;")
bA = pd.DataFrame(timescale.sqlQuery(sql))

In [74]:
bA[2] = pd.to_numeric(bA[2], downcast="float")
bA[3] = pd.to_numeric(bA[3], downcast="float")

In [77]:
sql = ("select id, askprice from table001" + " where id > '" + str(bA[0][0]) + 
       "' and symbol = '" + str(bA[1][0]) + 
       "' and askprice between '" + str(bA[2][0]) +
       "' and '" + str(bA[3][0]) +
       "';")
print(sql)
print(bA[4][0])
validated = pd.DataFrame(timescale.sqlQuery(sql))
print((validated))

select id, askprice from table001 where id > '715800' and symbol = 'HARDBNB' and askprice not between '0.0026889949' and '0.002636501';
0.00266000
          0           1
0    715997  0.00267000
1    716194  0.00267000
2    716391  0.00267000
3    716588  0.00267000
4    716785  0.00267000
..      ...         ...
102  736091  0.00265000
103  736288  0.00265000
104  736485  0.00265000
105  736682  0.00265000
106  736879  0.00265000

[107 rows x 2 columns]

In [64]:
validated[1] = pd.to_numeric(validated[1], downcast="float")
len(validated)

428

In [65]:
validated = validated[validated[1] >= float(bA[2][0])]
validated = validated[validated[1] <= float(bA[3][0])]
len(validated)

0

In [ ]:
stopId = validated[validated[0] == validated[0].min()]
percentChange = ((float(stopId[1]) - float(bA[4][i])) / float(bA[4][i])) * 100 
    #update database to include buy statement
    sql = ("UPDATE table001 SET" +
    " resultpercent = '" + str(percentChange) +
    "' WHERE id = '" + str(bA[0][i]) +
    "';")
    timescale.sqlUpdate(sql)
timescale.databaseClose()