In [ ]:
#import modules
import json
from binance.client import Client
import pandas as pd
from envs import env
from dotenv import load_dotenv

In [ ]:
#import classes from ./ folder
import timescaledbAccess

In [ ]:
#read env vars
load_dotenv()

In [ ]:
timescale = timescaledbAccess.timescaleAccess()
try:
    liveVolume=env("liveVolume")
    apiSecret=env('apiSecret')
    apiKey=env('apiKey')
except KeyError:
    print("No env variables set.")
    sys.exit(1)
#connect to binance to get current balance
client = Client(apiKey, apiSecret, {'timeout':600})

In [ ]:
client.get_asset_balance(asset='BNB')['free']

In [ ]:
sql = ("SELECT id, askprice, managedassets" +
    " FROM table001 WHERE" +
    " resultpercent IS NULL " +
    " AND takeprofit IS NOT NULL;")
bA = pd.DataFrame(timescale.sqlQuery(sql))
bA = bA.apply(pd.to_numeric, errors='coerce')

In [ ]:
print(bA)

In [43]:
sql = ("select symbol from table001 where id = '1';")
symbol = pd.DataFrame(timescale.sqlQuery(sql))
sql = ("select max(id) from table001 where symbol = '" + str(symbol[0][0]) + "';")
maxId = pd.DataFrame(timescale.sqlQuery(sql))

In [44]:
print(maxId[0][0])

12199

In [45]:
if ((1 == 2 or 1 == 1) and 
    0 == 0):
    print("yee")

yee