In [1]:
#import modules
import json
import pandas as pd
from binance.client import Client
from dotenv import load_dotenv
from envs import env
import time
import re
import os
import datetime
from datetime import timedelta

In [2]:
#import classes from ./ folder
import postgresdbAccess

In [3]:
#read fibonacci retracements  from json
with open('fibLvl.json') as file:
    fibLvl = json.load(file)

In [9]:
def backtest():
    #initiate empty open positions
    openPositions = {}
    #initiate postgresdb class
    postgres = postgresdbAccess.postgresAccess()
    #get unique simbol list
    sql = ("SELECT distinct symbol FROM " + dbTable + ";")
    uniqueSymbol = pd.DataFrame(postgres.sqlQuery(sql))
    uniqueSymbol = uniqueSymbol[0]
    #initiate empty percent bar
    percentBar = 0
    #loop over every symbol in symbol list
    for symbol in uniqueSymbol:
        #print progress
        print(percentBar, " / ", len(uniqueSymbol))
        percentBar = percentBar + 1
        #skip if symbol is not to be considered
        #null askprice is sorted out with crawler already
        if not (symbol.endswith(baseCurrency) and
               len(symbol) < 11):
            continue
        #check if open position was left over from last symbol and simulate close
        if openPositions:
            #prepare sql for close
            openPositions['resultPercent'] = ((row[4] - openPositions['askPrice']) / openPositions['askPrice']) * 100 - brokerFees * 2.55
            openPositions['stopId'] = row[0]
            closeSql = ("UPDATE " + dbTable + " SET" +
            " startId = '" + str(int(openPositions['startId'])) +
            "', fibLevel = '" + str(openPositions['fibLevel']) +
            "', midId = '" + str(int(openPositions['id'])) +
            "', corValue = '" + str(openPositions['corValue']) +
            "', takeProfit = '" + str(openPositions['takeProfit']) +
            "', stopLoss = '" + str(openPositions['stopLoss']) +  
            "', resultpercent = '" + str(openPositions['resultPercent']) +
            "', stopid = '" + str(openPositions['stopId']) +
            "' WHERE id = '" + str(int(openPositions['id'])) +
            "';")
            postgres.sqlUpdate(closeSql)
            openPositions = {}
        #query for every line for symbol
        sql = ("SELECT id, time, symbol, askprice, " +
               "bidprice, highprice, quotevolume, " +
               "pricechangepercent, weightedavgprice, openprice" +
            " FROM " + dbTable + " WHERE" +
            " symbol like '" + symbol + "' order by id;")
        print(sql)
        bigData = pd.DataFrame(postgres.sqlQuery(sql))
        bigData[0] = pd.to_numeric(bigData[0])
        bigData[1] = pd.to_datetime(bigData[1])
        bigData[3] = pd.to_numeric(bigData[3])
        bigData[6] = pd.to_numeric(bigData[6])
        bigData[7] = pd.to_numeric(bigData[7])
        bigData[8] = pd.to_numeric(bigData[8])
        bigData[9] = pd.to_numeric(bigData[9])
        #get start of timedelta
        bigData[5] = bigData[1] - timedelta(hours=33)
        #loop over every row
        for index, row in bigData.iterrows():
            before_start_date = bigData[1] <= row[5]
            if len(bigData.loc[before_start_date]) > 0:
                #get data for consideration
                after_start_date = bigData[1] >= row[5]
                before_end_date = bigData[1] <= row[1]
                between_two_dates = after_start_date & before_end_date
                fibDates = bigData.loc[between_two_dates]
                diff = fibDates[3].max() - fibDates[3].min()
                # calculate fibRetracements
                fibRetracement = pd.DataFrame(fibLvl)
                maxAsk = fibDates[3].max()
                for lvl in fibRetracement:
                    fibRetracement[1] =  maxAsk - diff * fibRetracement[0]
                    fibRetracement[2] = fibRetracement[1] * 0.9995
                    fibRetracement[3] = fibRetracement[1] * 1.0005
                #calculate corvalue
                corValue = fibDates[0].corr(fibDates[3])
                #if an open position exists, check if it can be closed
                if openPositions:
                    if (row[3] < openPositions['stopLoss'] or
                        row[3] > openPositions['takeProfit']):
                        #prepare sql for close
                        openPositions['resultPercent'] = ((row[4] - openPositions['askPrice']) / openPositions['askPrice']) * 100 - brokerFees * 3.5
                        openPositions['stopId'] = row[0]
                        closeSql = ("UPDATE " + dbTable + " SET" +
                        " startId = '" + str(int(openPositions['startId'])) +
                        "', fibLevel = '" + str(openPositions['fibLevel']) +
                        "', midId = '" + str(int(openPositions['id'])) +
                        "', corValue = '" + str(openPositions['corValue']) +
                        "', takeProfit = '" + str(openPositions['takeProfit']) +
                        "', stopLoss = '" + str(openPositions['stopLoss']) +  
                        "', resultpercent = '" + str(openPositions['resultPercent']) +
                        "', stopid = '" + str(openPositions['stopId']) +
                        "' WHERE id = '" + str(int(openPositions['id'])) +
                        "';")
                        #update database
                        postgres.sqlUpdate(closeSql)
                        #clear open position
                        openPositions = {}
                else:
                    #loop over considered fibonacciretracements
                    for i in [7]:
                        #check if buy requirements are met
                        if (corValue > 0.5 and
                            row[3] < fibRetracement[3][i] and
                            row[3] > fibRetracement[2][i]):
                            openPositions['startId'] = fibDates[0].min()
                            openPositions['id'] = row[0]
                            openPositions['bidPrice'] = row[4]
                            openPositions['fibLevel'] = i
                            openPositions['symbol'] = symbol
                            openPositions['askPrice'] = row[3]
                            openPositions['corValue'] = corValue
                            openPositions['takeProfit'] = fibRetracement[3][i+1]
                            openPositions['stopLoss'] = fibRetracement[2][i-4]
    #close database connection
    postgres.databaseClose()

In [10]:
testTables = [{"table":"table001","currency":"BNB"},
             {"table":"table001","currency":"BTC"},
             {"table":"table001","currency":"ETH"},
             {"table":"table001","currency":"ADA"}]
for iteration in testTables:
    load_dotenv('../.env')
    try:
        liveVolume=env("liveVolume")
        apiSecret=env('apiSecret')
        apiKey=env('apiKey')
        dbTable=iteration["table"]
        baseCurrency=iteration["currency"]
        brokerFees=float(env('brokerFees'))
        liveTrading=env("liveTrading", 'False').lower() in ('true', '1', 't')
    except KeyError:
        print("No env variables set.")
        sys.exit(1)
    client = Client(apiKey, apiSecret, {'timeout':600})
    backtest()

0  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'JSTBNB' order by id;
1  /  748
2  /  748
3  /  748
4  /  748
5  /  748
6  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ADXBNB' order by id;
7  /  748
8  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ENJBNB' order by id;
9  /  748
10  /  748
11  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CNDBNB' order by id;
12  /  748
13  /  748
14  /  748
15  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RDNBNB' order by id;
16  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WANBNB' order by id;
17  /  748
18  /  748
19  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YOYOBNB' order by id;
20  /  748
21  /  748
22  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOSTBNB' order by id;
23  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FTTBNB' order by id;
24  /  748
25  /  748
26  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OCEANBNB' order by id;
27  /  748
28  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COMPBNB' order by id;
29  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCPTBNB' order by id;
30  /  748
31  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BONDBNB' order by id;
32  /  748
33  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UNFIBNB' order by id;
34  /  748
35  /  748
36  /  748
37  /  748
38  /  748
39  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEBLBNB' order by id;
40  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICPBNB' order by id;
41  /  748
42  /  748
43  /  748
44  /  748
45  /  748
46  /  748
47  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXBNB' order by id;
48  /  748
49  /  748
50  /  748
51  /  748
52  /  748
53  /  748
54  /  748
55  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DASHBNB' order by id;
56  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FLOWBNB' order by id;
57  /  748
58  /  748
59  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PIVXBNB' order by id;
60  /  748
61  /  748
62  /  748
63  /  748
64  /  748
65  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TOMOBNB' order by id;
66  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WAVESBNB' order by id;
67  /  748
68  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EOSBNB' order by id;
69  /  748
70  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LPTBNB' order by id;
71  /  748
72  /  748
73  /  748
74  /  748
75  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SPARTABNB' order by id;
76  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'THETABNB' order by id;
77  /  748
78  /  748
79  /  748
80  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QNTBNB' order by id;
81  /  748
82  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SXPBNB' order by id;
83  /  748
84  /  748
85  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VETBNB' order by id;
86  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOTABNB' order by id;
87  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTSBNB' order by id;
88  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GOBNB' order by id;
89  /  748
90  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DUSKBNB' order by id;
91  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SCBNB' order by id;
92  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ERDBNB' order by id;
93  /  748
94  /  748
95  /  748
96  /  748
97  /  748
98  /  748
99  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZILBNB' order by id;
100  /  748
101  /  748
102  /  748
103  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHXBNB' order by id;
104  /  748
105  /  748
106  /  748
107  /  748
108  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHRBNB' order by id;
109  /  748
110  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STPTBNB' order by id;
111  /  748
112  /  748
113  /  748
114  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EGLDBNB' order by id;
115  /  748
116  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCCBNB' order by id;

117  /  748
118  /  748
119  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CVCBNB' order by id;
120  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TORNBNB' order by id;
121  /  748
122  /  748
123  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XVSBNB' order by id;
124  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FLMBNB' order by id;
125  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MLNBNB' order by id;
126  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SWRVBNB' order by id;
127  /  748
128  /  748
129  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DOTBNB' order by id;
130  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GNTBNB' order by id;
131  /  748
132  /  748
133  /  748
134  /  748
135  /  748
136  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHBBNB' order by id;
137  /  748
138  /  748
139  /  748
140  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WABIBNB' order by id;
141  /  748
142  /  748
143  /  748
144  /  748
145  /  748
146  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONEBNB' order by id;
147  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HARDBNB' order by id;
148  /  748
149  /  748
150  /  748
151  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FARMBNB' order by id;
152  /  748
153  /  748
154  /  748
155  /  748
156  /  748
157  /  748
158  /  748
159  /  748
160  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCNBNB' order by id;
161  /  748
162  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STRATBNB' order by id;
163  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VIABNB' order by id;
164  /  748
165  /  748
166  /  748
167  /  748
168  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICXBNB' order by id;
169  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RLCBNB' order by id;
170  /  748
171  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALPACABNB' order by id;
172  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YFIIBNB' order by id;
173  /  748
174  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OMGBNB' order by id;
175  /  748
176  /  748
177  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'INJBNB' order by id;
178  /  748
179  /  748
180  /  748
181  /  748
182  /  748
183  /  748
184  /  748
185  /  748
186  /  748
187  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IRISBNB' order by id;
188  /  748
189  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALGOBNB' order by id;
190  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MFTBNB' order by id;
191  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XZCBNB' order by id;
192  /  748
193  /  748
194  /  748
195  /  748
196  /  748
197  /  748
198  /  748
199  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BIFIBNB' order by id;
200  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTOBNB' order by id;
201  /  748
202  /  748
203  /  748
204  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEOBNB' order by id;
205  /  748
206  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LSKBNB' order by id;
207  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRBBNB' order by id;
208  /  748
209  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AGIBNB' order by id;
210  /  748
211  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MDTBNB' order by id;
212  /  748
213  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COSBNB' order by id;
214  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WNXMBNB' order by id;
215  /  748
216  /  748
217  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RSRBNB' order by id;
218  /  748
219  /  748
220  /  748
221  /  748
222  /  748
223  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARBNB' order by id;
224  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BZRXBNB' order by id;
225  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MINABNB' order by id;
226  /  748
227  /  748
228  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KP3RBNB' order by id;

229  /  748
230  /  748
231  /  748
232  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NUBNB' order by id;
233  /  748
234  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANKRBNB' order by id;
235  /  748
236  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MBLBNB' order by id;
237  /  748
238  /  748
239  /  748
240  /  748
241  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BEAMBNB' order by id;
242  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SKYBNB' order by id;
243  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZENBNB' order by id;
244  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XRPBNB' order by id;
245  /  748
246  /  748
247  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XMRBNB' order by id;
248  /  748
249  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VTHOBNB' order by id;
250  /  748
251  /  748
252  /  748
253  /  748
254  /  748
255  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CAKEBNB' order by id;
256  /  748
257  /  748
258  /  748
259  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POWRBNB' order by id;
260  /  748
261  /  748
262  /  748
263  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VITEBNB' order by id;
264  /  748
265  /  748
266  /  748
267  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANTBNB' order by id;
268  /  748
269  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXGBNB' order by id;
270  /  748
271  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HBARBNB' order by id;
272  /  748
273  /  748
274  /  748
275  /  748
276  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WTCBNB' order by id;
277  /  748
278  /  748
279  /  748
280  /  748
281  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XEMBNB' order by id;
282  /  748
283  /  748
284  /  748
285  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AVAXBNB' order by id;
286  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SOLBNB' order by id;
287  /  748
288  /  748
289  /  748
290  /  748
291  /  748
292  /  748
293  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BLZBNB' order by id;
294  /  748
295  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POLSBNB' order by id;
296  /  748
297  /  748
298  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QLCBNB' order by id;
299  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTCBNB' order by id;
300  /  748
301  /  748
302  /  748
303  /  748
304  /  748
305  /  748
306  /  748
307  /  748
308  /  748
309  /  748
310  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LUNABNB' order by id;
311  /  748
312  /  748
313  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QUICKBNB' order by id;
314  /  748
315  /  748
316  /  748
317  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SANDBNB' order by id;
318  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AEBNB' order by id;
319  /  748
320  /  748
321  /  748
322  /  748
323  /  748
324  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BATBNB' order by id;
325  /  748
326  /  748
327  /  748
328  /  748
329  /  748
330  /  748
331  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SNXBNB' order by id;
332  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PROMBNB' order by id;
333  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QTUMBNB' order by id;
334  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DREPBNB' order by id;
335  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NASBNB' order by id;
336  /  748
337  /  748
338  /  748
339  /  748
340  /  748
341  /  748
342  /  748
343  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PERLBNB' order by id;
344  /  748
345  /  748
346  /  748
347  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COCOSBNB' order by id;
348  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATABNB' order by id;
349  /  748
350  /  748
351  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CREAMBNB' order by id;
352  /  748
353  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINBNB' order by id;
354  /  748
355  /  748
356  /  748
357  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINGBNB' order by id;

358  /  748
359  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONTBNB' order by id;
360  /  748
361  /  748
362  /  748
363  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RENBNB' order by id;
364  /  748
365  /  748
366  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NULSBNB' order by id;
367  /  748
368  /  748
369  /  748
370  /  748
371  /  748
372  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHZBNB' order by id;
373  /  748
374  /  748
375  /  748
376  /  748
377  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTKBNB' order by id;
378  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZRXBNB' order by id;
379  /  748
380  /  748
381  /  748
382  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DAIBNB' order by id;
383  /  748
384  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GTCBNB' order by id;
385  /  748
386  /  748
387  /  748
388  /  748
389  /  748
390  /  748
391  /  748
392  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DYDXBNB' order by id;
393  /  748
394  /  748
395  /  748
396  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NMRBNB' order by id;
397  /  748
398  /  748
399  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HOTBNB' order by id;
400  /  748
401  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCHBNB' order by id;
402  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FIOBNB' order by id;
403  /  748
404  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRIGBNB' order by id;
405  /  748
406  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RVNBNB' order by id;
407  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MKRBNB' order by id;
408  /  748
409  /  748
410  /  748
411  /  748
412  /  748
413  /  748
414  /  748
415  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'C98BNB' order by id;
416  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IQBNB' order by id;
417  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XLMBNB' order by id;
418  /  748
419  /  748
420  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CLVBNB' order by id;
421  /  748
422  /  748
423  /  748
424  /  748
425  /  748
426  /  748
427  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STXBNB' order by id;
428  /  748
429  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AXSBNB' order by id;
430  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'REPBNB' order by id;
431  /  748
432  /  748
433  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STEEMBNB' order by id;
434  /  748
435  /  748
436  /  748
437  /  748
438  /  748
439  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DIABNB' order by id;
440  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AMBBNB' order by id;
441  /  748
442  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TFUELBNB' order by id;
443  /  748
444  /  748
445  /  748
446  /  748
447  /  748
448  /  748
449  /  748
450  /  748
451  /  748
452  /  748
453  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NANOBNB' order by id;
454  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KSMBNB' order by id;
455  /  748
456  /  748
457  /  748
458  /  748
459  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SYSBNB' order by id;
460  /  748
461  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VENBNB' order by id;
462  /  748
463  /  748
464  /  748
465  /  748
466  /  748
467  /  748
468  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NCASHBNB' order by id;
469  /  748
470  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ADABNB' order by id;
471  /  748
472  /  748
473  /  748
474  /  748
475  /  748
476  /  748
477  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OSTBNB' order by id;
478  /  748
479  /  748
480  /  748
481  /  748
482  /  748
483  /  748
484  /  748
485  /  748
486  /  748
487  /  748
488  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STORMBNB' order by id;
489  /  748
490  /  748
491  /  748
492  /  748
493  /  748
494  /  748
495  /  748
496  /  748
497  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RCNBNB' order by id;
498  /  748
499  /  748
500  /  748
501  /  748
502  /  748
503  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FETBNB' order by id;
504  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TCTBNB' order by id;

505  /  748
506  /  748
507  /  748
508  /  748
509  /  748
510  /  748
511  /  748
512  /  748
513  /  748
514  /  748
515  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POLYBNB' order by id;
516  /  748
517  /  748
518  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GTOBNB' order by id;
519  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RAYBNB' order by id;
520  /  748
521  /  748
522  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'USDCBNB' order by id;
523  /  748
524  /  748
525  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATOMBNB' order by id;
526  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'APPCBNB' order by id;
527  /  748
528  /  748
529  /  748
530  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NXSBNB' order by id;
531  /  748
532  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MBOXBNB' order by id;
533  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BAKEBNB' order by id;
534  /  748
535  /  748
536  /  748
537  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WRXBNB' order by id;
538  /  748
539  /  748
540  /  748
541  /  748
542  /  748
543  /  748
544  /  748
545  /  748
546  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XTZBNB' order by id;
547  /  748
548  /  748
549  /  748
550  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTSIBNB' order by id;
551  /  748
552  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NKNBNB' order by id;
553  /  748
554  /  748
555  /  748
556  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DGBBNB' order by id;
557  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RUNEBNB' order by id;
558  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QSPBNB' order by id;
559  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARPABNB' order by id;
560  /  748
561  /  748
562  /  748
563  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AAVEBNB' order by id;
564  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KEEPBNB' order by id;
565  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TROYBNB' order by id;
566  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONGBNB' order by id;
567  /  748
568  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TUSDBNB' order by id;
569  /  748
570  /  748
571  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CMTBNB' order by id;
572  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEARBNB' order by id;
573  /  748
574  /  748
575  /  748
576  /  748
577  /  748
578  /  748
579  /  748
580  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YFIBNB' order by id;
581  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FTMBNB' order by id;
582  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FILBNB' order by id;
583  /  748
584  /  748
585  /  748
586  /  748
587  /  748
588  /  748
589  /  748
590  /  748
591  /  748
592  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COTIBNB' order by id;
593  /  748
594  /  748
595  /  748
596  /  748
597  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KLAYBNB' order by id;
598  /  748
599  /  748
600  /  748
601  /  748
602  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SUSHIBNB' order by id;
603  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MITHBNB' order by id;
604  /  748
605  /  748
606  /  748
607  /  748
608  /  748
609  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STMXBNB' order by id;
610  /  748
611  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTXCBNB' order by id;
612  /  748
613  /  748
614  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MDXBNB' order by id;
615  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KAVABNB' order by id;
616  /  748
617  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SRMBNB' order by id;
618  /  748
619  /  748
620  /  748
621  /  748
622  /  748
623  /  748
624  /  748
625  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AIONBNB' order by id;
626  /  748
627  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BURGERBNB' order by id;
628  /  748
629  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MASKBNB' order by id;

630  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BRDBNB' order by id;
631  /  748
632  /  748
633  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DCRBNB' order by id;
634  /  748
635  /  748
636  /  748
637  /  748
638  /  748
639  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DLTBNB' order by id;
640  /  748
641  /  748
642  /  748
643  /  748
644  /  748
645  /  748
646  /  748
647  /  748
648  /  748
649  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LOOMBNB' order by id;
650  /  748
651  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BANDBNB' order by id;
652  /  748
653  /  748
654  /  748
655  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRXBNB' order by id;
656  /  748
657  /  748
658  /  748
659  /  748
660  /  748
661  /  748
662  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTTBNB' order by id;
663  /  748
664  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GALABNB' order by id;
665  /  748
666  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GNOBNB' order by id;
667  /  748
668  /  748
669  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HIVEBNB' order by id;
670  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZECBNB' order by id;
671  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ERNBNB' order by id;
672  /  748
673  /  748
674  /  748
675  /  748
676  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALPHABNB' order by id;
677  /  748
678  /  748
679  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CELRBNB' order by id;
680  /  748
681  /  748
682  /  748
683  /  748
684  /  748
685  /  748
686  /  748
687  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CRVBNB' order by id;
688  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UNIBNB' order by id;
689  /  748
690  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MCOBNB' order by id;
691  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POABNB' order by id;
692  /  748
693  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRIBEBNB' order by id;
694  /  748
695  /  748
696  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ETCBNB' order by id;
697  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OGNBNB' order by id;
698  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NAVBNB' order by id;
699  /  748
700  /  748
701  /  748
702  /  748
703  /  748
704  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DOGEBNB' order by id;
705  /  748
706  /  748
707  /  748
708  /  748
709  /  748
710  /  748
711  /  748
712  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WAXPBNB' order by id;
713  /  748
714  /  748
715  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RPXBNB' order by id;
716  /  748
717  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BALBNB' order by id;
718  /  748
719  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AVABNB' order by id;
720  /  748
721  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARDRBNB' order by id;
722  /  748
723  /  748
724  /  748
725  /  748
726  /  748
727  /  748
728  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BELBNB' order by id;
729  /  748
730  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MATICBNB' order by id;
731  /  748
732  /  748
733  /  748
734  /  748
735  /  748
736  /  748
737  /  748
738  /  748
739  /  748
740  /  748
741  /  748
742  /  748
743  /  748
744  /  748
745  /  748
746  /  748
747  /  748
0  /  748
1  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXBTC' order by id;
2  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FETBTC' order by id;
3  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DGDBTC' order by id;
4  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ROSEBTC' order by id;
5  /  748
6  /  748
7  /  748
8  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MTLBTC' order by id;
9  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DEGOBTC' order by id;
10  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRIGBTC' order by id;
11  /  748
12  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QSPBTC' order by id;
13  /  748
14  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TNBBTC' order by id;

15  /  748
16  /  748
17  /  748
18  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'APPCBTC' order by id;
19  /  748
20  /  748
21  /  748
22  /  748
23  /  748
24  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XLMBTC' order by id;
25  /  748
26  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AVABTC' order by id;
27  /  748
28  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HSRBTC' order by id;
29  /  748
30  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AMBBTC' order by id;
31  /  748
32  /  748
33  /  748
34  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHZBTC' order by id;
35  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OSTBTC' order by id;
36  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SOLBTC' order by id;
37  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FISBTC' order by id;
38  /  748
39  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BNTBTC' order by id;
40  /  748
41  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RUNEBTC' order by id;
42  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WTCBTC' order by id;
43  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINBTC' order by id;
44  /  748
45  /  748
46  /  748
47  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MDABTC' order by id;
48  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POABTC' order by id;
49  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LSKBTC' order by id;
50  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ASTBTC' order by id;
51  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DYDXBTC' order by id;
52  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NPXSBTC' order by id;
53  /  748
54  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONEBTC' order by id;
55  /  748
56  /  748
57  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BAKEBTC' order by id;
58  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FIROBTC' order by id;
59  /  748
60  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BONDBTC' order by id;
61  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MBLBTC' order by id;
62  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOTXBTC' order by id;
63  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTTBTC' order by id;
64  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TUSDBTC' order by id;
65  /  748
66  /  748
67  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POLSBTC' order by id;
68  /  748
69  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SYSBTC' order by id;
70  /  748
71  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINGBTC' order by id;
72  /  748
73  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KLAYBTC' order by id;
74  /  748
75  /  748
76  /  748
77  /  748
78  /  748
79  /  748
80  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'REQBTC' order by id;
81  /  748
82  /  748
83  /  748
84  /  748
85  /  748
86  /  748
87  /  748
88  /  748
89  /  748
90  /  748
91  /  748
92  /  748
93  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WAXPBTC' order by id;
94  /  748
95  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FARMBTC' order by id;
96  /  748
97  /  748
98  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WINGSBTC' order by id;
99  /  748
100  /  748
101  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RCNBTC' order by id;
102  /  748
103  /  748
104  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WNXMBTC' order by id;
105  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHXBTC' order by id;
106  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EZBTC' order by id;
107  /  748
108  /  748
109  /  748
110  /  748
111  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GTCBTC' order by id;
112  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WBTCBTC' order by id;
113  /  748
114  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ENJBTC' order by id;

115  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTOBTC' order by id;
116  /  748
117  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AUTOBTC' order by id;
118  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FTMBTC' order by id;
119  /  748
120  /  748
121  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STORJBTC' order by id;
122  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GALABTC' order by id;
123  /  748
124  /  748
125  /  748
126  /  748
127  /  748
128  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EOSBTC' order by id;
129  /  748
130  /  748
131  /  748
132  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XZCBTC' order by id;
133  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FRONTBTC' order by id;
134  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RSRBTC' order by id;
135  /  748
136  /  748
137  /  748
138  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EGLDBTC' order by id;
139  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WAVESBTC' order by id;
140  /  748
141  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like '1INCHBTC' order by id;
142  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MITHBTC' order by id;
143  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LRCBTC' order by id;
144  /  748
145  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CELOBTC' order by id;
146  /  748
147  /  748
148  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHABTC' order by id;
149  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WPRBTC' order by id;
150  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'JSTBTC' order by id;
151  /  748
152  /  748
153  /  748
154  /  748
155  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GOBTC' order by id;
156  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NXSBTC' order by id;
157  /  748
158  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GASBTC' order by id;
159  /  748
160  /  748
161  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LPTBTC' order by id;
162  /  748
163  /  748
164  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CNDBTC' order by id;
165  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTGBTC' order by id;
166  /  748
167  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GTOBTC' order by id;
168  /  748
169  /  748
170  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEOBTC' order by id;
171  /  748
172  /  748
173  /  748
174  /  748
175  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XEMBTC' order by id;
176  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCHBTC' order by id;
177  /  748
178  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRUBTC' order by id;
179  /  748
180  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PPTBTC' order by id;
181  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALPACABTC' order by id;
182  /  748
183  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KMDBTC' order by id;
184  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FXSBTC' order by id;
185  /  748
186  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CKBBTC' order by id;
187  /  748
188  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MFTBTC' order by id;
189  /  748
190  /  748
191  /  748
192  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FORBTC' order by id;
193  /  748
194  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DAIBTC' order by id;
195  /  748
196  /  748
197  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UTKBTC' order by id;
198  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STRATBTC' order by id;
199  /  748
200  /  748
201  /  748
202  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GXSBTC' order by id;
203  /  748
204  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OMGBTC' order by id;
205  /  748
206  /  748
207  /  748
208  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CFXBTC' order by id;

209  /  748
210  /  748
211  /  748
212  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GNTBTC' order by id;
213  /  748
214  /  748
215  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PERLBTC' order by id;
216  /  748
217  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TOMOBTC' order by id;
218  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XMRBTC' order by id;
219  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DIABTC' order by id;
220  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'C98BTC' order by id;
221  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RAMPBTC' order by id;
222  /  748
223  /  748
224  /  748
225  /  748
226  /  748
227  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VGXBTC' order by id;
228  /  748
229  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MBOXBTC' order by id;
230  /  748
231  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRIBEBTC' order by id;
232  /  748
233  /  748
234  /  748
235  /  748
236  /  748
237  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MANABTC' order by id;
238  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NANOBTC' order by id;
239  /  748
240  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HARDBTC' order by id;
241  /  748
242  /  748
243  /  748
244  /  748
245  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICXBTC' order by id;
246  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ETCBTC' order by id;
247  /  748
248  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PAXGBTC' order by id;
249  /  748
250  /  748
251  /  748
252  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BZRXBTC' order by id;
253  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STPTBTC' order by id;
254  /  748
255  /  748
256  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AAVEBTC' order by id;
257  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DOTBTC' order by id;
258  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEARBTC' order by id;
259  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OXTBTC' order by id;
260  /  748
261  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AXSBTC' order by id;
262  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HNTBTC' order by id;
263  /  748
264  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STORMBTC' order by id;
265  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AGIXBTC' order by id;
266  /  748
267  /  748
268  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTSIBTC' order by id;
269  /  748
270  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BATBTC' order by id;
271  /  748
272  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KSMBTC' order by id;
273  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CRVBTC' order by id;
274  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZECBTC' order by id;
275  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KAVABTC' order by id;
276  /  748
277  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KEEPBTC' order by id;
278  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COTIBTC' order by id;
279  /  748
280  /  748
281  /  748
282  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SRMBTC' order by id;
283  /  748
284  /  748
285  /  748
286  /  748
287  /  748
288  /  748
289  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XTZBTC' order by id;
290  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QUICKBTC' order by id;
291  /  748
292  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTCBBTC' order by id;
293  /  748
294  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NASBTC' order by id;
295  /  748
296  /  748
297  /  748
298  /  748
299  /  748
300  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GNOBTC' order by id;
301  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EASYBTC' order by id;
302  /  748
303  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TLMBTC' order by id;

304  /  748
305  /  748
306  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VIBBTC' order by id;
307  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TKOBTC' order by id;
308  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'COCOSBTC' order by id;
309  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RLCBTC' order by id;
310  /  748
311  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POEBTC' order by id;
312  /  748
313  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KNCBTC' order by id;
314  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VIBEBTC' order by id;
315  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SUSDBTC' order by id;
316  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DNTBTC' order by id;
317  /  748
318  /  748
319  /  748
320  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EDOBTC' order by id;
321  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AUDIOBTC' order by id;
322  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VIDTBTC' order by id;
323  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EVXBTC' order by id;
324  /  748
325  /  748
326  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BELBTC' order by id;
327  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NEBLBTC' order by id;
328  /  748
329  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'REPBTC' order by id;
330  /  748
331  /  748
332  /  748
333  /  748
334  /  748
335  /  748
336  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CLOAKBTC' order by id;
337  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QTUMBTC' order by id;
338  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DODOBTC' order by id;
339  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RPXBTC' order by id;
340  /  748
341  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTCSTBTC' order by id;
342  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FTTBTC' order by id;
343  /  748
344  /  748
345  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HCBTC' order by id;
346  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GRTBTC' order by id;
347  /  748
348  /  748
349  /  748
350  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MIRBTC' order by id;
351  /  748
352  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SXPBTC' order by id;
353  /  748
354  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QLCBTC' order by id;
355  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LTCBTC' order by id;
356  /  748
357  /  748
358  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OGNBTC' order by id;
359  /  748
360  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PHBBTC' order by id;
361  /  748
362  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TWTBTC' order by id;
363  /  748
364  /  748
365  /  748
366  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NKNBTC' order by id;
367  /  748
368  /  748
369  /  748
370  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONTBTC' order by id;
371  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TORNBTC' order by id;
372  /  748
373  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DCRBTC' order by id;
374  /  748
375  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AVAXBTC' order by id;
376  /  748
377  /  748
378  /  748
379  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RENBTCBTC' order by id;
380  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARPABTC' order by id;
381  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DOGEBTC' order by id;
382  /  748
383  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STEEMBTC' order by id;
384  /  748
385  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZRXBTC' order by id;
386  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ICPBTC' order by id;

387  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CHATBTC' order by id;
388  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ELFBTC' order by id;
389  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BQXBTC' order by id;
390  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SNMBTC' order by id;
391  /  748
392  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DASHBTC' order by id;
393  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'WABIBTC' order by id;
394  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VITEBTC' order by id;
395  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NMRBTC' order by id;
396  /  748
397  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CVCBTC' order by id;
398  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UNFIBTC' order by id;
399  /  748
400  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DGBBTC' order by id;
401  /  748
402  /  748
403  /  748
404  /  748
405  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATABTC' order by id;
406  /  748
407  /  748
408  /  748
409  /  748
410  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HBARBTC' order by id;
411  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TNTBTC' order by id;
412  /  748
413  /  748
414  /  748
415  /  748
416  /  748
417  /  748
418  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZILBTC' order by id;
419  /  748
420  /  748
421  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IOSTBTC' order by id;
422  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HOTBTC' order by id;
423  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BTSBTC' order by id;
424  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STXBTC' order by id;
425  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ONGBTC' order by id;
426  /  748
427  /  748
428  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'REEFBTC' order by id;
429  /  748
430  /  748
431  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UNIBTC' order by id;
432  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MODBTC' order by id;
433  /  748
434  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BNBBTC' order by id;
435  /  748
436  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ACMBTC' order by id;
437  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANTBTC' order by id;
438  /  748
439  /  748
440  /  748
441  /  748
442  /  748
443  /  748
444  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'INJBTC' order by id;
445  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'IRISBTC' order by id;
446  /  748
447  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LITBTC' order by id;
448  /  748
449  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'HIVEBTC' order by id;
450  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CMTBTC' order by id;
451  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BLZBTC' order by id;
452  /  748
453  /  748
454  /  748
455  /  748
456  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALPHABTC' order by id;
457  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VETBTC' order by id;
458  /  748
459  /  748
460  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PIVXBTC' order by id;
461  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'STMXBTC' order by id;
462  /  748
463  /  748
464  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MINABTC' order by id;
465  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MDTBTC' order by id;
466  /  748
467  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BADGERBTC' order by id;
468  /  748
469  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CDTBTC' order by id;
470  /  748
471  /  748
472  /  748
473  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SALTBTC' order by id;
474  /  748
475  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AUCTIONBTC' order by id;

476  /  748
477  /  748
478  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'XVSBTC' order by id;
479  /  748
480  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BRDBTC' order by id;
481  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALGOBTC' order by id;
482  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SUPERBTC' order by id;
483  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PERPBTC' order by id;
484  /  748
485  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATOMBTC' order by id;
486  /  748
487  /  748
488  /  748
489  /  748
490  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'CTKBTC' order by id;
491  /  748
492  /  748
493  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FLOWBTC' order by id;
494  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YFIBTC' order by id;
495  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OGBTC' order by id;
496  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ALICEBTC' order by id;
497  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARNBTC' order by id;
498  /  748
499  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SCRTBTC' order by id;
500  /  748
501  /  748
502  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ENGBTC' order by id;
503  /  748
504  /  748
505  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCHABCBTC' order by id;
506  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QKCBTC' order by id;
507  /  748
508  /  748
509  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DLTBTC' order by id;
510  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AKROBTC' order by id;
511  /  748
512  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PROMBTC' order by id;
513  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PONDBTC' order by id;
514  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ANKRBTC' order by id;
515  /  748
516  /  748
517  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MTHBTC' order by id;
518  /  748
519  /  748
520  /  748
521  /  748
522  /  748
523  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AIONBTC' order by id;
524  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BCCBTC' order by id;
525  /  748
526  /  748
527  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'NUBTC' order by id;
528  /  748
529  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YFIIBTC' order by id;
530  /  748
531  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'GRSBTC' order by id;
532  /  748
533  /  748
534  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SUBBTC' order by id;
535  /  748
536  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ATMBTC' order by id;
537  /  748
538  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'THETABTC' order by id;
539  /  748
540  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'EPSBTC' order by id;
541  /  748
542  /  748
543  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BARBTC' order by id;
544  /  748
545  /  748
546  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FUNBTC' order by id;
547  /  748
548  /  748
549  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'YOYOBTC' order by id;
550  /  748
551  /  748
552  /  748
553  /  748
554  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ORNBTC' order by id;
555  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'PNTBTC' order by id;
556  /  748
557  /  748
558  /  748
559  /  748
560  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'RVNBTC' order by id;
561  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TRBBTC' order by id;
562  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FORTHBTC' order by id;
563  /  748
564  /  748
565  /  748
566  /  748
567  /  748
568  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'VENBTC' order by id;
569  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DUSKBTC' order by id;
570  /  748
571  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OAXBTC' order by id;

572  /  748
573  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LINABTC' order by id;
574  /  748
575  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'AGIBTC' order by id;
576  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'DREPBTC' order by id;
577  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'POWRBTC' order by id;
578  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'FILBTC' order by id;
579  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'LUNABTC' order by id;
580  /  748
581  /  748
582  /  748
583  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ARBTC' order by id;
584  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SFPBTC' order by id;
585  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'SNTBTC' order by id;
586  /  748
587  /  748
588  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'OCEANBTC' order by id;
589  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'MATICBTC' order by id;
590  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'BALBTC' order by id;
591  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'KEYBTC' order by id;
592  /  748
593  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ZENBTC' order by id;
594  /  748
595  /  748
596  /  748
597  /  748
598  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TFUELBTC' order by id;
599  /  748
600  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'UMABTC' order by id;
601  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'TCTBTC' order by id;
602  /  748
603  /  748
604  /  748
605  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'ASRBTC' order by id;
606  /  748
SELECT id, time, symbol, askprice, bidprice, highprice, quotevolume, pricechangepercent, weightedavgprice, openprice FROM table001 WHERE symbol like 'QNTBTC' order by id;

KeyboardInterrupt: